<nav class="bg-gray-800 text-white w-64 space-y-6 p-4 h-full fixed">
    <h1 class="text-2xl font-bold mb-4">Admin Dashboard</h1>
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="text-blue-400">Dashboard</a></li>
      <li><a routerLink="/users" routerLinkActive="text-blue-400">User Management</a></li>
      <li><a routerLink="/settings" routerLinkActive="text-blue-400">Settings</a></li>
      <li><a routerLink="/verified" routerLinkActive="text-blue-400">Verified Users</a></li>
      <li><a routerLink="/unverified" routerLinkActive="text-blue-400">Unverified Users</a></li>
    </ul>
  </nav>
  
