<!-- Layout Component -->
<div class="flex">
    <!-- Side Navigation Component -->
    <nav class="bg-gray-800 text-white w-64 space-y-6 p-4 h-full fixed z-20">
      <h1 class="text-2xl font-bold mb-4">Admin Dashboard</h1>
      <ul>
        <li><a routerLink="/dashboard" routerLinkActive="text-blue-400">Dashboard</a></li>
        <li><a routerLink="/users" routerLinkActive="text-blue-400">User Management</a></li>
        <li><a routerLink="/users/verified" routerLinkActive="text-blue-400">Verified Users</a></li>
        <li><a routerLink="/users/unverified" routerLinkActive="text-blue-400">Unverified Users</a></li>
      </ul>
    </nav>
  
    <!-- Main Content Component -->
    <div class="ml-64 p-4 flex-1"> <!-- Margin-left to account for the side navigation width -->
      <router-outlet></router-outlet> <!-- This is where your routed components will be displayed -->
    </div>
  </div>
  
